<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./HomePageDesign/vars.css">
  <link rel="stylesheet" href="./HomePageDesign/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="homepage-design">
    <div class="frame">
      <div class="frame2">
        <div class="header">
          <div class="brand">
            <div class="logo-area">
              <div class="logo">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33333 14.146C1.33333 14.146 4.69873 12.0248 8 13.7231C11.6888 15.6208 14.6667 14.0693 14.6667 14.0693V2.33711C14.6667 2.33711 11.6893 3.8859 8.00103 1.98971C4.69903 0.292091 1.33333 2.42365 1.33333 2.42365V14.146Z" fill="#0D141C"/>
                </svg>
                <div class="depth-6-frame-0"></div>
              </div>
            </div>
            <div class="text-area">
              <div class="re-folio">ReFolio</div>
            </div>
          </div>
          <div class="nav-bar">
            <div class="link-area">
              <div class="explore">
                <div class="explore2">Explore</div>
              </div>
            </div>
            <div class="auth-area">
              <button class="login-button">
                Log in
              </button>
              <button class="signup-button">
                Sign up
              </button>
            </div>                       
          </div>
        </div>
        <div class="body">
          <div class="centered">
            <div class="intro-frame">
              <div class="intro">
                <div
                  class="intro2"
                  style="
                    background: url(./HomePageDesign/intro1.png) center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-blend-mode: hue;
                  "
                >
                  <div class="intro-header">
                    <div class="heading">
                      <div
                        class="showcase-your-skills-and-experiences-with-re-folio"
                      >
                        Showcase your skills and experiences with ReFolio
                      </div>
                    </div>
                    <div class="sub-heading">
                      <div
                        class="create-a-stunning-resume-and-portfolio-that-stands-out-share-it-with-the-world-and-get-hired-faster"
                      >
                        Create a stunning resume and portfolio that stands out.
                        Share it with the world and get hired faster.
                      </div>
                    </div>
                  </div>
                  <div class="get-started">
                    <button class="get-started-button">
                      <div class="get-started-text">Get Started</div>
                    </button>
                  </div>                  
                </div>
              </div>
            </div>
            <div class="why">
              <div class="title">
                <div class="why-re-folio">Why ReFolio?</div>
              </div>
              <div class="grid-frame">
                <div class="grid-content">
                  <div class="grid-2">
                    <img class="image" src="./HomePageDesign/image0.png" />
                    <div class="text">
                      <div class="heading2">
                        <div class="case-studies">Case Studies</div>
                      </div>
                      <div class="sub-heading">
                        <div
                          class="publish-beautiful-pages-for-your-most-ambitious-projects"
                        >
                          Publish beautiful pages for your most ambitious projects
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="grid-3">
                    <img class="image" src="./HomePageDesign/image1.png" />
                    <div class="text">
                      <div class="heading2">
                        <div class="personal-profiles">Personal Profiles</div>
                      </div>
                      <div class="sub-heading">
                        <div
                          class="a-personal-homepage-for-all-your-interests-and-accomplishments"
                        >
                          A personal homepage for all your interests and
                          accomplishments
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="grid-4">
                    <img class="image" src="./HomePageDesign/image2.png" />
                    <div class="text">
                      <div class="heading2">
                        <div class="search">Search</div>
                      </div>
                      <div class="sub-heading">
                        <div
                          class="generate-leads-by-filtering-by-location-experience-and-collaborators"
                        >
                          Generate leads by filtering by location, experience, and
                          collaborators
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="get-started2">
                <div class="text2">
                  <div class="heading3">
                    <div class="ready-to-get-started">Ready to get started?</div>
                  </div>
                </div>
                <div class="button-area">
                  <button class="create-profile-button">
                    <div class="create-a-free-profile">
                      Create a free profile
                    </div>
                  </button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>