<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/ProfileView/vars.css">
  <link rel="stylesheet" href="/ProfileView/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="profile-preview-page">
    <div class="header">
      <div class="brand">
        <div class="logo-area">
          <div class="logo">
            <img class="vector-0" src="/ProfileView/vector-00.svg" />
            <div class="depth-6-frame-0"></div>
          </div>
        </div>
        <div class="text-area">
          <div class="re-folio">ReFolio</div>
        </div>
      </div>
      <div class="nav-bar">
        <div class="link-area">
          <div class="explore">
            <div class="explore2">Explore</div>
          </div>
        </div>
        <div class="auth-area">
          <div class="login-area">
            <div class="login-button">
              <div class="log-in">Log in</div>
            </div>
          </div>
          <div class="signup-area">
            <div class="signup-button">
              <div class="sign-up">Sign up</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="body2">
        <div class="body-wrapper">
          <div class="center-wrapper">
            <div class="profile">
              <div class="header2">
                <div class="profile-area">
                  <div class="avatar">
                    <div
                      class="image-component"
                      style="
                        background: url(/ProfileView/image-component0.png) center;
                        background-size: cover;
                        background-repeat: no-repeat;
                      "
                    >
                      <img class="profile-photo" src="/ProfileView/profile-photo0.png" />
                    </div>
                  </div>
                  <div class="info">
                    <div class="name">
                      <div class="ilker-ozturk">Ilker Ozturk</div>
                    </div>
                    <div class="title">
                      <div class="full-stack-web-app-developer">
                        Full Stack Web/App Developer
                      </div>
                    </div>
                    <div class="address">
                      <div class="markham-on-canada">Markham, ON, Canada</div>
                    </div>
                  </div>
                </div>
                <div class="private-button">
                  <div class="text-content">
                    <div class="text">Edit</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="banner"></div>
            <div class="experience-title">
              <div class="text2">Experience</div>
            </div>
            <div class="experience-grid-1">
              <div class="info2">
                <div class="default-logo">
                  <div class="logo2">
                    <img class="vector-02" src="/ProfileView/vector-01.svg" />
                    <div class="depth-8-frame-0"></div>
                  </div>
                </div>
                <div class="info3">
                  <div class="header3">
                    <div class="senior-product-designer">
                      Senior Product Designer
                    </div>
                  </div>
                  <div class="sub">
                    <div class="_2019-present-3-years">
                      2019 - Present (3 years)
                    </div>
                  </div>
                </div>
              </div>
              <div class="private-link">
                <div class="edit">
                  <div class="edit2">Edit</div>
                </div>
              </div>
            </div>
            <div class="experience-grid-2">
              <div class="info4">
                <div class="default-logo">
                  <div class="logo2">
                    <img class="vector-03" src="/ProfileView/vector-02.svg" />
                    <div class="depth-8-frame-0"></div>
                  </div>
                </div>
                <div class="info5">
                  <div class="header4">
                    <div class="product-designer">Product Designer</div>
                  </div>
                  <div class="sub2">
                    <div class="_2017-2019-2-years-on-canada">
                      2017 - 2019 (2 years)
                      <br />
                      ON, Canada
                    </div>
                  </div>
                </div>
              </div>
              <div class="private-link2">
                <div class="edit3">
                  <div class="edit2">Edit</div>
                </div>
              </div>
            </div>
            <div class="education-title">
              <div class="education">Education</div>
            </div>
            <div class="education-grid-1">
              <div class="info2">
                <div class="default-school-logo">
                  <div class="logo2">
                    <img class="vector-04" src="/ProfileView/vector-03.svg" />
                    <div class="depth-8-frame-02"></div>
                  </div>
                </div>
                <div class="info3">
                  <div class="header3">
                    <div class="humber-college">Humber College</div>
                  </div>
                  <div class="sub3">
                    <div class="_2024-present">2024 - Present</div>
                  </div>
                </div>
              </div>
              <div class="private-link">
                <div class="edit">
                  <div class="edit2">Edit</div>
                </div>
              </div>
            </div>
            <div class="certification-grid-1">
              <div class="info2">
                <div class="default-certification-logo">
                  <div class="logo2">
                    <img class="vector-05" src="/ProfileView/vector-04.svg" />
                    <div class="depth-8-frame-03"></div>
                  </div>
                </div>
                <div class="info3">
                  <div class="header5">
                    <div class="postman-student-expert">
                      Postman Student Expert
                    </div>
                  </div>
                  <div class="sub4">
                    <div class="october-2017">September, 2024</div>
                  </div>
                </div>
              </div>
              <div class="private-link">
                <div class="depth-6-frame-02">
                  <div class="edit2">Edit</div>
                </div>
              </div>
            </div>
            <div class="skills-title">
              <div class="skills">Skills</div>
            </div>
            <div class="skills-list">
              <div class="list-1">
                <div class="text3">
                  <div class="user-research">User Research</div>
                </div>
              </div>
              <div class="list-2">
                <div class="text3">
                  <div class="ui-design">UI Design</div>
                </div>
              </div>
              <div class="list-3">
                <div class="text3">
                  <div class="product-design">Product Design</div>
                </div>
              </div>
              <div class="list-32">
                <div class="text3">
                  <div class="product-design">+ 3 more...</div>
                </div>
              </div>
            </div>
            <div class="projects-title">
              <div class="projects">Projects</div>
            </div>
            <div class="project-grid-1">
              <div class="info2">
                <div class="default-logo">
                  <div class="depth-7-frame-0">
                    <img class="vector-06" src="/ProfileView/vector-05.svg" />
                    <div class="depth-8-frame-0"></div>
                  </div>
                </div>
                <div class="info3">
                  <div class="header3">
                    <div class="re-folio2">ReFolio</div>
                  </div>
                  <div class="sub5">
                    <div class="_2024-present">2024 - Present</div>
                  </div>
                </div>
              </div>
              <div class="private-link">
                <div class="edit">
                  <div class="edit2">Edit</div>
                </div>
              </div>
            </div>
            <div class="contact-title">
              <div class="contact">Contact</div>
            </div>
            <div class="contact-grid-1">
              <div class="default-email-logo">
                <div class="logo2">
                  <img class="vector-07" src="/ProfileView/vector-06.svg" />
                  <div class="depth-7-frame-02"></div>
                </div>
              </div>
              <div class="info3">
                <div class="header6">
                  <div class="email">Email</div>
                </div>
                <div class="sub4">
                  <div class="contact-theilker-com">contact@theilker.com</div>
                </div>
              </div>
            </div>
            <div class="contact-grid-2">
              <div class="default-linked-in-logo">
                <div class="logo2">
                  <img class="vector-08" src="/ProfileView/vector-07.svg" />
                  <div class="depth-7-frame-03"></div>
                </div>
              </div>
              <div class="info3">
                <div class="header7">
                  <div class="linked-in">LinkedIn</div>
                </div>
                <div class="sub4">
                  <div class="linkedin-com-in-ilkeroztbm">
                    linkedin.com/in/ilkeroztbm
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="get-started">
          <div class="text4">
            <div class="heading">
              <div class="would-like-to-try-once">Would like to try once?</div>
            </div>
          </div>
          <div class="button-area">
            <div class="button-context">
              <div class="button">
                <div class="text5">
                  <div class="create-a-free-profile">Create a free profile</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>